<?php
// Show the drive task ?
$rcmail_config['show_drive_task'] = true;

// Configuration WebDAV
$rcmail_config['driver_webdav_url'] = 'http://url_to_your_webdav/prefix/file.php/webdav/';

// Prefix ex for owncloud : /remote.php/webdav/
$rcmail_config['driver_webdav_prefix'] = '/prefix/file.php/webdav/';

// Override the username provided by Rounducbe
$rcmail_config['driver_webdav_username'] = null;

// Override the provided by Rounducbe
$rcmail_config['driver_webdav_password'] = null;